* {
    transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
html,
body {
    background: #071423;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', 'Lato', 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
}
.shiny-text {
    color: #FAA616;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 200%;
    text-shadow: 0px 0px 40px #ff5200, 0px 0px 80px #ff5200;
    width: 100%;
}
.not-so {
    text-shadow: none;
}

.chevron::before {
	border-style: solid;
	border-width: 0.05em 0.05em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	vertical-align: top;
	width: 0.45em;
    top: 0;
	transform: rotate(135deg);
}

button.shiny-text {
    width: auto;
    background: #FFFB4F;
    outline: none;
    border: none;
    color: #572403;
    font-weight: 800;
    font-size: 10;
    padding: 8px 12px;
    box-shadow: inset 0px 0px 10px #ff5200, 0px 0px 40px rgba(255, 82, 0, 0.7);
    font-family: 'Montserrat', 'Lato', 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif;
    cursor: pointer;
    transform: translateY(calc(-30px + 6vh))
}
button.shiny-text:hover {
    background: #FFFE5F;
    color: #673413;
    box-shadow: inset 0px 0px 10px #ff5200, 0px 0px 40px rgba(255, 130, 20, 0.7);
}
button.shiny-text:active {
    box-shadow: inset 0px 0px 10px #ff5200, 0px 0px 40px rgba(255, 130, 20, 0.5);
    ;
}

#container {
    height:auto;
}

#logo-container {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 30px;
    font-weight: 800;
    font-size: 8;
    letter-spacing: 10px;
    line-height: 170%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#logo-container > #logo-name {
    padding-top: 10px;
    width:60%;
}

#logo {
    background-image: url(logo.svg);
    width: 100%;
    height: calc(0.5vw + 20px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#center {
    width: calc(70% + 120px);
    text-align: center;
}
#center-image {
    background-image: url(writing.svg);
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(25%);
}
#center-container {
    transform: translateY(-15%)
}
#top {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#subheading {
    letter-spacing: 12px;
    transform: translateY(40px) translateY(-10.5vh)
}

#para-container {
    position:absolute;
    transform:scale(1.1);
}

#para-viewport
      { position:relative; overflow:hidden; width:100vw; height:100vh; }

#bg-text {
    font-size:0.6em;
    opacity:0.1;
    position:absolute;
    line-height:150%;
    letter-spacing: 0.6px;
    transition:none;
    width:auto;
    width:100%;
    height:100%;
    text-align: justify;
}
